<h1 id="tableLabel">Session {{ nextSession.sessionDate }}</h1>

<p *ngIf="!nextSession"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="nextSession">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gold</th>
      <th>Difficulty</th>
      <th>Export</th>
    </tr>
  </thead>
  <tbody>
    <tr id="{{ encounter.id }}" *ngFor="let encounter of nextSession.encounters">
      <td>{{ encounter.name }}</td>
      <td>{{ encounter.gold }}</td>
      <td>{{ encounter.difficulty }}</td>
      <td><button [cdkCopyToClipboard]="encounter.dashboardExport" value="click to copy">Copy</button></td>
    </tr>
  </tbody>
</table>
<span id="copy-{{ encounter.id }}" style="display:none;" *ngFor="let encounter of nextSession.encounters">
  {{ encounter.dashboardExport }}
</span>
